HIK_HOST=192.168.1.100
HIK_USER=admin
HIK_PASS=YOUR_DEVICE_PASSWORD

MQTT_HOST=192.168.1.10
MQTT_PORT=1883
MQTT_USER=YOUR_MQTT_USERNAME
MQTT_PASS=YOUR_MQTT_PASSWORD
MQTT_TLS=false

MQTT_TOPIC_BASE=hikvision/outdoor/event

MQTT_QOS=1
MQTT_RETAIN_ANY=false
HEARTBEAT_LOG_INTERVAL=10
RECONNECT_DELAY=60
